body {
  font-family: "Raleway", sans-serif;
}

/* Hero Section */

#Hero-Section {
  background-image: url("../img/mi-fondo.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 30%;
}


#Mis-trabajos .image-top {
  height: 250px;
  background-image: url("assets/img/print-desafio2.png"); 
  background-size: contain; 
  background-position: center;
  background-repeat: no-repeat;
  border-top-left-radius: 0.375rem;
  border-top-right-radius: 0.375rem;
}


/* Contacto */

#Contacto form label {
  font-weight: 700;
  color: #373a3c;
}

@media (max-width: 768px) {
  #Contacto form label {
    font-weight: 400;
  }

  .navbar-brand{
    width: 100px;
  }

}

p.my-5 {
  color: white; 
  text-shadow: 1px 1px 2px black;
}

